body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.form {
  display: flex;
  align-items: center;
}

.board {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.todoList {
  width: 30%;
}

.listHeader {
  background-color: gray;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
